<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-th"></i> Resources</h1>

		<p>Resources are accessed through a RESTful API developed for this project. Each resource is accessed through its own resource path via HTTP requests using standard HTTP verbs (GET, POST, PUT, DELETE).</p>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-lg-12 row">
			<div class="col-lg-4">
				<h2><i class="glyphicon glyphicon-bullhorn"></i> Calls for Papers</h2>

				<p>Calls for Papers (CFP) are tied to conference organization. By announcing dates, keywords and topics, conference organizers asks academics to send
					paper for review. Extracted CFP origin is <a href="http://wikicfp.com/cfp/" target="_blank">WikiCFP</a>, a community driven CFP repository. From
					extracted meta-data, all conference website are parsed to gather committee members to recommend people.</p>

				<p><a href="#/cfp?page=0" class="btn btn-sm btn-default" type="button">View CFPs &raquo;</a></p>
			</div>

			<div class="col-lg-4">
				<h2><i class="glyphicon glyphicon-globe"></i> Conferences</h2>

				<p>Academic conferences are one of the most important source of innovation in research fields. By providing a framework to discuss and present
					state-of-the-art work, conference are praised among scientific. All conferences are extracted from <a href="http://www.dblp.org/db/" target="_blank">DBLP
						dataset</a>, freely available, containing short of 4'000 unique conference. Field ranking and publication counts from <a
							href="http://academic.research.microsoft.com/?SearchDomain=2&entitytype=2" target="_blank">Microsoft Academic Search Ranking</a> enhance data and
					recommendation results.</p>

				<p><a href="#/conferences?page=0" class="btn btn-sm btn-default" type="button">View conferences &raquo;</a></p>
			</div>

			<div class="col-lg-4">
				<h2><i class="glyphicon glyphicon-user"></i> Authors/Committees</h2>

				<p>Paper authors are the cornerstone of improvements in cutting edge research. Their work drive academic work and provide industrial work with novel
					methods. Similar to conferences, authors extracted are from the <a href="http://www.dblp.org/db/" target="_blank">DBLP dataset</a>. Committee members
					help reviewing publications, provide experience in conference organization, help with their large network and many more. Their work is crucial for
					conference organization. Committee extraction is done through public conference website.
				</p>

				<p><a ng-href="#/people?page=0" class="btn btn-sm btn-default" type="button">View people &raquo;</a></p>
			</div>
		</div>

		<div class="col-lg-12 row">
			<div class="col-lg-4">
				<h2><i class="glyphicon glyphicon-book"></i> Publications</h2>

				<p>Publications done in conferences are proposed during the call for papers phase. Once reviewed by the conference committee, a publication is presented
					during the venue. Conferences combine publications in a document called proceedings. By extension, publications are called in-proceedings. Each
					publication proposed is extracted from <a href="http://www.dblp.org/db/" target="_blank">DBLP dataset</a> and publisher website extractors (ACM,
					Elsevier, IEEEXplore and Springer).</p>

				<p><a href="#/publications?page=0" class="btn btn-sm btn-default" type="button">View publications &raquo;</a></p>
			</div>

			<div class="col-lg-4">
				<h2><i class="glyphicon glyphicon-pushpin"></i> Venues</h2>

				<p>Each conference has different recurrence scheme, with the norm being yearly. A venue is a conference edition for which proceedings are published. The
					<a href="http://www.dblp.org/db/" target="_blank">DBLP dataset</a> provide only the cross-ref identification of the venue. Meta-data are extracted
					directly from conference page (i.e. <a href="http://www.informatik.uni-trier.de/~ley/db/conf/www/index.html">WWW conference</a>). Each in-proceedings
					are linked to venues which are themselves linked to conference.
				</p>

				<p><a href="#/venues?page=0" class="btn btn-sm btn-default" type="button">View venues &raquo;</a></p>
			</div>
		</div>
	</div>
</div>