<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-pushpin"></i> Venue</h1>
	</div>
</div>

<div class="container" ng-show="data.id">
	<h1>{{ data.year }} - {{ data.title }}</h1>

	<p><span class="label label-primary pull-right">{{ data.key }}</span></p>
	<ul class="list-inline">
		<li ng-repeat="location in data.location"><span class="label label-primary">{{ location }}</span></li>
	</ul>

	<div class="col-lg-12" ng-show="data.authors">
		<h2 class="page-header">Authors
			<form class="form pull-right">
				<small><input class="form-control" type="text" ng-model="data.filterAuthors" placeholder="Filter authors"></small>
			</form>
		</h2>
		<ul class="list-inline">
			<li
					ng-repeat="author in data.authors | filter:data.filterAuthors"><span><a href="#/people/{{ author.id }}" class="label label-primary">{{ author.name
				}}</a></span></li>
		</ul>
	</div>

	<div class="row">
		<div class="col-lg-12" ng-show="data.publications">
			<h2 class="page-header">Publications
				<form class="form pull-right">
					<small><input class="form-control" type="text" ng-model="data.filterPublications" placeholder="Filter publications"></small>
				</form>
			</h2>
			<table class="table">
				<thead>
				<tr>
					<th class="col-lg-8">Title</th>
					<th class="col-lg-2">Book title</th>
					<th class="col-lg-1 text-center">Year</th>
					<th class="col-lg-1 text-center">Details</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="publication in data.publications | filter:data.filterPublications | orderBy:'-year'">
					<td>{{ publication.title }}</td>
					<td>{{ publication.booktitle }}</td>
					<td class="text-center">{{ publication.year }}</td>
					<td class="text-center"><a ng-href="#/publications/{{ publication.id }}"><i class="glyphicon glyphicon-book"></i></a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	</p>
</div>