<div class="jumbotron">
	<div class="container">
		<h1><i class="glyphicon glyphicon-bullhorn"></i> Calls for Papers</h1>

		<p>Calls for Papers (CFP) are tied to conference organization. By announcing dates, keywords and topics, conference organizers asks academics to send
			paper for review. Extracted CFP origin is <a href="http://wikicfp.com/cfp/" target="_blank">WikiCFP</a>, a community driven CFP repository. From
			extracted meta-data, all conference website are parsed to gather committee members to recommend people.</p>
	</div>
</div>

<div class="container" ng-show="data.length > 0">
	<div class="text-center">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="page == 0" ng-click="changePage(page-1)">Previous</button>
			</div>
			<input class="form-control" type="text" placeholder="Filter CFPs" ng-model="data.filterCfp">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="data[length - 1].hasMore" ng-click="changePage(page+1)">Next</button>
			</div>
		</div>
	</div>
	<br>
	<table class="table table-bordered">
		<thead>
		<tr>
			<th class="col-lg-2">Acronym</th>
			<th class="col-lg-6">Title</th>
			<th class="col-lg-3">Location</th>
			<th class="col-lg-1 text-center">Details</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="cfp in data | filter:data.filterCfp">
			<td>{{ cfp.acronym | uppercase }}</td>
			<td>{{ cfp.title }}</td>
			<td>{{ cfp.location }}</td>
			<td class="text-center"><a href="#/cfp/{{ cfp.id }}"><i class="glyphicon glyphicon-bullhorn"></i></a></td>
		</tr>
		</tbody>
	</table>

	<div class="text-center">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="page == 0" ng-click="changePage(page-1)">Previous</button>
			</div>
			<input class="form-control" type="text" placeholder="Filter conferences" ng-model="data.filterConference">
			<div class="input-group-btn">
				<button class="btn btn-primary" ng-disabled="data[length - 1].hasMore" ng-click="changePage(page+1)">Next</button>
			</div>
		</div>
	</div>
	<br>
</div>